/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Tajawal:wght@500&display=swap");

/* Tipografía */
/* @import url("https://fonts.googleapis.com/css2?family="); */

/* Variables */
:root {
  --primario: #ff6b35;
  --secundario: #050404;
  --font-base: "Poppins", sans-serif;
  --font-headings: "Tajawal", sans-serif;
  --h1: 48px;
  --h2: 39px;
  --h3: 31px;
  --h4: 25px;
  --h5: 20px;
  --h6: 16px;
  --section-height: 600px;
  --transition: all 0.4s ease-in-out;
}

/* Base */
body {
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

a {
  transition: var(--transition);
  text-decoration: none;
}

/* Componentes */
/* Header */
.header {
  display: flex;
  height: var(--section-height);
}

.header::before {
  content: "";
  width: 40px;
  background-color: var(--primario);
}

.caja-container {
  flex: 4;
  display: grid;
  place-content: center;
}

.caja {
  max-width: 200px;
}


/* Nav */
.nav {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  display: grid;
  max-width: 110px;
  place-content: center;
  background-color: var(--secundario);
}
.nav a:hover{
    color:#fff;
    background-color: var(--secundario);
}

.logo-container {
  display: grid;
  place-content: start;
  text-align: right;
  float:right;
}
.casalogo {
  max-width: 40px;
  margin-bottom: 0px;
  text-align:right;
  float: right;  
}
.logo {
  max-width: 40px;
  margin-bottom: 2em;
  text-align:right;
  float: right;
}

.nav ul a {
  color: white;
  line-height: 1.8;
}

/* Main */
.main {
  max-width: 90vw;
  margin: 60px auto 40px;
  height: auto;
}

/* Proyectos */
.proyectos {
  margin: auto;
}

.proyectos h2,
.proyectos h3 {
  padding: 0 20px;
}

.proyectos h3,
.proyectos div {
  padding-top: 20px;
}

.proyectos-container {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {
  .proyectos-container {
    display: flex;
    flex-direction: column;
  }
}

/* About */
.about {
  margin: auto;
}

.about > * {
  padding: 20px;
}

/*.about h2 {}*/

.about figure {
  position: relative;
}

.about img {
  width: 100%;
  object-fit: contain;
  opacity: 0.4;
}

.about figcaption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  width: 80vw;
  margin: auto;
  color: rgb(0, 0, 0);
}

.about figcaption {
  transform: translateY(200px); /* Pixeles de espacio en eje Y */
}

@media screen and (max-width: 600px) {
  .about figcaption {
    width: fit-content;
    transform: translateY(10px);
  }
}

/* Contacto */
.footer {
  max-width: 90vw;
  margin: auto;
  padding: 0 20px 20px;
}

.contacto {
  display: grid;
  align-content: center;
  margin: 0 auto 40px;
}

.contacto h2 {
  padding-bottom: inherit;
}

.contacto div {
  display: grid;
}

.contacto div a {
  color: inherit;
  line-height: 1.6;
}

.contacto div a span {
  padding-right: 1ch;
}

.contacto {
  display: grid;
  align-content: center;
  margin: 2rem auto;
}

.contacto h2 {
  padding-bottom: 2rem;
}

.contacto div {
  display: grid;
}

.contacto div a {
  font-size: 1rem;
  line-height: 2;
}

